
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
 
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* Add any other styles you need */
  }
  
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* Add any other styles you need */
  }
  .footerimage {
    width: 100%;
    margin-top: 20px;
}

.footerimage img {
    width: 100%;
    height: auto;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .warning {
        width: 100%;
        max-width: 250px;
        position: relative;
        right: auto;
        top: auto;
    }

    .footerimage img {
        width: 100%;
        height: auto;
    }
}

/* Media Query for Phones */
@media screen and (max-width: 480px) {
    .warning {
        width: 100%;
        max-width: 100%;
    }

    .footerimage img {
        width: 100%;
        height: auto;
    }
}