.searchBar{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:1px 20px;
  
  margin-bottom:10px;
}



p h4{
  display:flex;
  align-items:center;
  justify-content: center;
margin-top:20px;
margin-bottom:50px;
font-weight:bold;
font-size:40px;

}  
h5{
  margin-left: 1rem;
  font-style: italic;
  color: red;
  
} 



 