.warning {
    height: 40px;
    width: 250px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: rgb(210, 91, 91);
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}

.props {
    width: 100%;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    .warning {
        width: 100%;
        max-width: 250px;
        position: relative;
        right: auto;
        top: auto;
    }
}

/* Media Query for Phones */
@media screen and (max-width: 480px) {
    .warning {
        width: 100%;
        max-width: 100%;
    }
}
