.overviewContainer {
    /* border: 4px solid yellow; */
    /* width: 85vw; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helpRequestsContainer {
    background-color: #D9F2FD;
    border-radius: 30px;
    width: 95%;
    height: 90%;
}

.helpRequestsHeader {
    display: flex;
    justify-content: flex-start;
}

.helpRequestMarkReply {
    display: flex;
    justify-content: flex-end;
}

.helpRequestMarkReply p {
    margin-right: 103px;
    font-weight: bold;
    
}