#heroBackground {
    background-image: url("../../assets/Home/hero.png");
    background-color: #EFEFF1; /* Placeholder colour taken from the hero image */
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
}

#heroText {
    margin-left: 10%;
    padding-top: 8px;
    width: 30%;
}

#heroButtons {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

/* For setting uniform size, do not confuse with the containing div above */
.heroButton {
    width: 100px;
    height: 25px;
    margin-right: 12px;
}

#futureSpan {
    color: #42C0F6;
    font-weight: 900;
}

#learnMoreButton {
    border: solid #59C6F5;
    border-radius: 8px;
    color: #767676;
}

#signUpButton {
    border: solid #F91C85;
    border-radius: 8px;
    color: white;
    background-color: #F91C85;
}

#freeSignUpText {
    font-size: x-small;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

h1 {
    color: #767676;
    font-weight: 600;
}

p {
    color: #767676;
    font-weight: 600;
}

@media screen and (max-width: 320) {
    
}