.label {
    margin-bottom: 0.1rem;
   
    font-weight: 600;
    border-bottom:1px solid ;
    font-size:15px;

  }
  .input-group {
    margin-top:1px;
    margin-bottom: 10px;
    font-size:10px;
  }
  .filter{
    margin-top:0;
    padding:0;
  }
  