#header {
    background-color: #43C0F6;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

#header img {
    height: 40px;
    width: 120px;
}

#imgSection, #links {
    display: flex;
    align-items: flex-end;
}

#userSection {
    display: flex;
    flex-direction: column;
}

#loginButtons, #langs {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#loginButtons > * {
    margin: 0px 10px;
}

#langs {
    align-items: top;
    font-size: 10px;
}

#langs > img {
    height: 20px;
    width: 40px;
    margin: 4px;
}

.headerNavLink {
    margin: 6px 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.headerNavLink:hover {
    color: #ecb730;
}