#enquireGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    padding: 32px;
}

#imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
}

#textAndButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px;
}

#textAndButtons > p {
    color: #767676;
    font-weight: 600;
    margin: 0;
}

/* Could have been common components possibly. MUI was introduced after these buttons were made and copied everywhere */
.blueButton {
    border: solid #59C6F5;
    border-radius: 8px;
    color: #767676;
    margin: 0px 12px;
    padding: 2px 10px;
    cursor: pointer;
}

.pinkButton {
    border: solid #F91C85;
    border-radius: 8px;
    color: white;
    background-color: #F91C85;
    margin: 0px 12px;
    padding: 2px 10px;
    cursor: pointer;
}