/* Separate css module for the buttons so I can use media queries
 to arrange into a 2x2 grid on smaller devices */
 /* I was going to put them into a grid but flex-wrap seems to be working for now */

#slideShowButtons {
    display: flex;
    flex-wrap: wrap;
}

.slideButton {
    width: 110px;
    height: 110px;
}

.slideButton:hover {
    cursor: pointer;
    filter: brightness(70%);
}

@media screen and (max-width: 425px) {

    .slideButton {
        width: 45px;
        height: 45px;
    }
}