* {
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(62, 172, 240);
}

.div {
  margin-top: 0;
  background-color: white;
  width: 100%;
}

.navbar {
  margin-left: 0;
}

.filter {
  width: 250px;
  float: left;
  margin-top: 85px;
  margin-left: 15px;
}

.listp {
  margin-bottom: 50px;
}

.outerbox {
  width: 200px;
  height: 35px;
  background-color: white;
  margin-top: 5px;
  float: left;
  margin-left: 800px;
}

.footer {
  margin-top: 0;
  float: left;
}

.footerone {
  margin-bottom: 200px;
  float: right;
  margin-top: 50px;
  width: 100%;
}





