*{
    margin: 0;
    padding: 0;
}
article{
    width: 60%;
    margin: auto;
}
.cart_box img{
    width: 20rem;
    height: 20rem;
    border-radius:10px;
}
.cart_img{
    display: flex;
    width: 400px;
}
.cart_img p {
    font-weight: bold;
    margin-left: 10px;
    margin-top:18.5rem;
}
.cart_img span {
    font-weight: bold;
    margin-left: 10px;
    margin-top:18.5rem;
}
.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
}


.removebutton{
    width:5rem;
    height:3rem;
    background-color:red;
    font-weight:bold;
    font-size:16px;
    border-radius: 5px;

}

