.label {
    margin-bottom: 0.1rem;
    margin-right:80px;
   
    font-weight: 800;
    border-bottom:1px solid ; 
    
    font-size:15px;
    color:black;

  

  }
  .borderline{
    margin-right:200px

  }
  .input-group {
   
    margin-bottom: 10px;
    font-size:5px;
  }
  .filter1{
    margin-top:90px;
    
    
   
  }
  