.StudentTeacherNavBarContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 172, 240);
    height: 65px;
    width:100%
  }
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  /* ------- Company logo */
  .levelUpWorksLogoContainer {
    display: flex;
    align-items: center;
  }
  
  .levelUpWorksLogoContainer img {
    height: 60px;
    width: 145.99px;
   
  }
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  /* -------- StudentTeacherNavBar buttons */
  .StudentTeacherNavBarBtnsContainer {
    margin: 0 80px 0 0;
    display: flex;
    align-items: center;
  }


  
  


  .navbar{
    &:link,
    &:visited
    {
      display:flex;
      gap:4rem;
      display:inline-block;
      font-size:1rem;
      font-weight:500;
      text-tranform:uppercase;
      color:white;
      transition: color 0.3s linear;
      margin:0 100px 0 20px ;
      text-decoration:none;

    }
    color:white;


&:hover,
&:active{
  color:blue;
}

  }
  
  
  .flagsContainer {
    display: flex;
    align-self: flex-start;
    color:white;
    font-weight:500;
    gap:10px;
    font-size: 12px;
    margin-top:1px;
    
  }
  
  .StudentTeacherNavBarBtnsContainer button.flagsContainer img {
    height: 12px;
    width: 10px;
    margin: 20px 100px 0 0;
  }
  /* ^^^^^^^^^^^^^^^^^^^^^^ */
  .langBtn {

    background-color:  rgb(62, 172, 240);
  }
  .linkButton{
    margin:20px 10px 0 10px;
  }

