.label {
    margin-bottom: 0.1rem;
    margin-right:80px;
   
    font-weight: 800;
    border-bottom:1px solid ; 
    
    font-size:13px;
  

  }
  .borderline{
    margin-right:200px

  }
  .input-group {
    margin-top:1px;
    margin-bottom: 10px;
    font-size:5px;
  }
  .filter{
    margin-top:0;
    padding:0;
   
  }
  