.searchBar-wrap{
    display:flex;
    align-items:center;
   
    padding:1.5rem 1rem;
    margin-left:250px;


}


 .projectbar{
    margin:50px 10px 1px 265px;
    
 }   
 p{
  color:black;
  
 }   
 .projectbar p h5
 {
    margin-top:10px;
    color:black;
 }
 .buttoncontainer{
   margin-left:560px;
   margin-top:10px;
 }
 


 .sort
 {
  filter: drop-shadow(5px 8px 9px rgb(42, 116, 126));
  height: 18px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
  font-weight:bold;
  cursor: pointer;
  
 }
 .sort:hover {
  
  color: white;
  background-color:brown;
  
}


  button:focus{
    color:white;
    background-color:blue;

   }

   