/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  margin-left:12.3rem;
  color: black;
  width:73.5rem;
  height: 150px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.image {
  width: 220px;
  height: 61px;
}

.nav_links {
  list-style: none;
  padding: 0;
  margin-right: 5rem;
  display: flex;
  gap: 30px;

}

.nav_links li {
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 28px;
  position: relative;
  
}

.nav_links li:hover {
  color: #007bff;
}

.nav_links li:hover:before {
  content: "";
  position: absolute;
  top: -5px; 
  left: -5px; 
  right: -5px; 
  bottom: -5px; 
  border: 2px solid red;
  border-radius: 5px; 
  pointer-events: none; 
}
.nav_links li:first-child a {
  text-decoration: none;
}