
  .listItem-wrap header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 5px 5rem;
    align-items: center;
    
   }
  .listItem-wrap footer {
    margin:0 0 5px 5rem;
  }
  .listItem-wrap img{
    height:200px;
    border-radius:20px;
  }
  