.button1 {
    background-color: darkred;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 25px;
    width: 220px;
    border-radius: 15px;
    font-size: 14px;
    transition: color 0.2s;
  }
  
  .button1:hover {
    color: blue;
    background-color:white;
  }
  
  .button1:active {
    color: blue;
    
  }

  .button2 {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 25px;
    width: 220px;
    border-radius: 15px;
    font-size: 14px;
    transition: color 0.2s;
  }
  
  .button2:hover {
    color: black;
    color: blue;
    background-color:white;
    
  }
  
  .button2:active {
    color: blue;
  }