.pageContainer {
    /* PageContainer holds all of the components imported in ProgressTracker.jsx */
    background-color: #b2e4fa;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .MenuAndOverviewContainer {
    /* MenuAndOverviewContainer holds the Menu and Overview component imports*/
    display: flex;
  }
  