/* ------ Body */
* {
  /* Reseting default margin, padding and box-sizing */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* -------- Menu container holding all menu content */
.menuContainer {
  /* border: 2px solid green; */
  background-color: #43c0f6;
  width: 17vw;
  display: flex;
  transition: 0.3s ease-in-out;
  flex-direction: column;
  justify-content: space-between;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* -------- Teacher Profile img */
.teacherProfileImage {
  display: flex;
  justify-content: center;
  margin: 33px 0 10px 0;
}

.teacherProfileImage img {
  height: 79px;
  width: 79px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* ------- Project Tracker, Student Profiles, Help Requests, Project Submissions, Project Library links */
.menuLinksContainer {
  display: flex;
}

.menuIcon {
  height: 25px;
  width: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.menuLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.menuLinks li {
  /* border: 2px solid green; */
  padding: 12px 0px 12px 10%;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.menuLinks a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuLinks a:active {
  /* This applies the background when the NavLink is clicked */
  background-color: #b2e4fa;
}

.active {
  /* This applies the background color to 'active' NavLink, ensure the color change remains after the NavLink has been clicked */
  background-color: #B1E4F9;
}

.menuLinks p {
  /* border: 2px solid pink; */
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin: 0;
  line-height: 1.9;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* -------- Menu crumbs at bottom of menu */
.menuCrumbs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.menuCrumbs li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuCrumbs li p {
  margin: 5px 0 0 0;
  color: #fff;
}

.menuCrumIcon {
  height: 12.58px;
  width: 12.58px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* -------- Arrow menu button */
.menuBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.menuBtn {
  background-color: #b2e4fa !important;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  padding: 18px 23px 18px 23px;
  cursor: pointer;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* --------- CSS class applied when toggleMenu function is called as a result of collapsing menu from clicking arrow button */
.menuBtnClicked {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menuContainerCollapsed {
  display: flex;
  justify-content: flex-start;
}

.menuLinksCollapsed {
  display: flex;
  justify-content: center;
}

.inActive {
  /* Width applied when menu is collapsed */
  width: 7vw;
}

.menuTextEl {
  display: none;
}

.menuCrumbsCollapsed {
  display: flex;
  flex-direction: column;
}

.menuCrumbsCollapsed li {
  margin: 5px 0 5px 0;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */

