/* ------ StudentTeacherNavBarContainer holds all content within navBar */
.StudentTeacherNavBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 65px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ------- Company logo */
.levelUpWorksLogoContainer {
  display: flex;
  align-items: center;
}

.levelUpWorksLogoContainer img {
  height: 60px;
  width: 145.99px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* -------- StudentTeacherNavBar buttons */
.StudentTeacherNavBarBtnsContainer {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
}

.StudentTeacherNavBarBtnsContainer button {
  /* background: none; */
  border: none;
  border-radius: 10px;
  padding: 0;
  margin: 0 20px 0 20px;
  font: inherit;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 200px;
  font-weight: bold;
  color: white;
}

.helpCentreBtn {
  background-color: #f81c85;
}

.moreProjectsBtn {
  background-color: #43c0f6;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
/* ------ Country flag styles */
.flagsContainer {
  display: flex;
  align-self: flex-start;
}

.flagsContainer img {
  height: 12px;
  width: 24px;
  margin: 10px 5px 0 0;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
